{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="centered">
    {% if latest_question_list %}
        <div class="question-buttons">
            {% for question in latest_question_list %}
                <button class="question-btn" onclick="window.location.href='{% url 'polls:detail' question.id %}'">{{ question.question_text }}</button>
            {% endfor %}
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
